.loginInput {
    width: 394px;

    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid rgba(63, 63, 70, 1);
    border-radius: 5px;
    padding: 15px 11px;
    color: white;
    font-size: 17px;
    outline: none;
    height:60px;
}
  
.loginInput::placeholder {
    color: rgba(113, 113, 122, 1);
    font-size:15px;
    font-weight:400;
}
  
.loginInput:focus {
    border-color: rgb(29, 155, 240);
    border-width: 2px;
    padding: 14px 11px;
}
  


.userInput {
    width:100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    padding: 4px 0;
    box-sizing: border-box;
}
  