.post {
    display: flex;
    gap: 10px;
    padding: 13px 8px 5px 18px;
    min-height: 75px;
    border-bottom: 1px solid rgb(65, 65, 69);
    width: 568px;
    box-sizing: border-box;
}

.postAvatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-top: 3px;
}


.postBody {
    flex: 1;
    min-width: 0;
}

.postHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
}

.postHeader1 {
    display: flex;
    gap: 4px;

}



.postName {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.postHandle,
.postDot,
.postTime {
    color: rgba(113, 113, 122, 1);
    font-size: 16px;
}


.postText {
    color: white;
    font-size: 15px;
    max-width: 485px;
}



.postStats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: -5px;

}

.postStatsFirst {
    display: flex;
    gap: 70px;







}

.postStatsSecond {
    display: flex;



}


.statNumber {
    color: rgba(113, 113, 122, 1);
    font-size: 14px;
    margin-left: -5px;
}

.statInfo {
    display: flex;
    align-items: center;


}

.statInfo:hover {
    cursor: pointer;
}

.imgcontainer {
    border: 1px solid rgb(65, 65, 69);
    border-radius: 13px;
    margin-bottom: 5px;
    display: flex;
    width: fit-content;
    max-width: 480px;
    max-height: 540px;

    justify-content: center;

}

.postImage {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 13px;
    object-fit: contain;
}