.settingsLayout {
    display: flex;

}

.settingsListColumn {
    width: 448px;
    border-right: 1px solid rgb(65, 65, 69);
    border-left: 1px solid rgb(65, 65, 69);
    box-sizing: border-box;

}


.settingsTitle {
    color: white;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-top: 16px;
    margin: 0px;

}


.settingsList {
    display: flex;
    flex-direction: column;

}